<a href="{{path('action_for_axe',{'id_axe':axe.id})}}">
<div class="info-box bg-info">
    <span class="info-box-icon"><i class="fa fa-bolt"></i></span>

    <div class="info-box-content">
        <span class="info-box-text">{{ axe.name }}</span>
        <span class="info-box-number">
            {{ include('share/_taux_label.html.twig', {'taux1': axe.taux1,'taux2': axe.taux2,'color':'' }) }}
        </span>

        <div class="progress">
            <div class="progress-bar" style="width: {{ axe.taux1 }}%"></div>
        </div>
        <span class="progress-description">
            <span id="axe_{{ axe.id }}" >
                <i id="overlay_axe_{{ axe.id }}" class=" d-none fas  fa-sync-alt"></i>
            </span>
        </span>
    </div>
</div>
</a>