{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Catégorie{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url( asset('plugins/datatables-bs4/css/dataTables.bootstrap4.css')) }}">
{% endblock %}

{% block body_header %}
    {{ include('admin/_body_header.html.twig', {'domaine': 'Catégorie' , 'id' : category.id, 'index' : 'category_index'}) }}
{% endblock %}

    {% block body %}

        <div class="row justify-content-center">
            <div class="{{col_primary}}">
                <div class="card ">
                    <div class="card-body">
                        <table class="table table-borderless">
                            <tbody>
                            <tr>
                                <th>Plan d'actions</th>
                                <td colspan="2">
                                    <a href="{{ path('axe_show', {'id': category.thematique.pole.axe.id}) }}">
                                        {{ category.thematique.pole.axe.name }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>Pôle</th>
                                <td colspan="2">
                                    <a href="{{ path('pole_show', {'id': category.thematique.pole.id}) }}">
                                        {{ category.thematique.pole.name }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>Thématique</th>
                                <td colspan="2">
                                    <a href="{{ path('thematique_show', {'id': category.thematique.id}) }}">
                                        {{ category.thematique.name }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>Nom</th>
                                <td colspan="2">{{ category.name }}</td>
                            </tr>
                            <tr>
                                <th>Code</th>
                                <td colspan="2">{{ category.ref }}</td>
                            </tr>
                            <tr>
                                <th>Afficher</th>
                                <td class="text-center col-2">
                                    {% if category.enable %}
                                        <span class="text-success" ><i class="fas fa-eye"></i></span>
                                    {% else %}
                                        <span class="text-danger" ><i class="fas fa-eye-slash"></i></span>
                                    {% endif %}
                                </td>
                            </tr>

                            {{ include('share/_taux_tr_progress_bar_label.html.twig', {'taux1': category.taux1,'taux2': category.taux2 }) }}

                            <tr>
                                <th>Description</th>
                                <td colspan="2">{{ category.content }}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col  d-flex justify-content-between align-items-center">
                                {{ include('share/__btn_return_list.html.twig',
                                    {   'url':'category_index'
                                    }) }}

                                {% if is_granted('ROLE_GESTIONNAIRE') %}

                                    {{ include('share/__btn_edit.html.twig',
                                        {   'url':'category_edit',
                                            'id':category.id
                                        }) }}

                                {% endif %}

                                {{ include('share/_delete_form.html.twig',{'domaine': 'category','id':category.id}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="{{ col_secondary }}">
                <h3 class="text-purple">
                    <small><i class="fas fa-bolt"></i></small> Actions
                </h3>
                        {% for action in category.actions %}
                            {{ include('action/_view/_show_item.html.twig') }}
                        {% else %}
                            {% if is_granted('ROLE_GESTIONNAIRE') %}
                                <div class="list-group-item">
                                    <a class="text-success" href="{{ path('action_new') }}">Créer une action</a>
                                </div>
                            {%  else %}
                                <span class="text-info" >Aucune action pour le moment</span>
                            {% endif %}

                        {% endfor %}
            </div>
        </div>

    {% endblock %}
