{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Action{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url( asset('plugins/select2/css/select2.min.css')) }}">
    <link rel="stylesheet"
          href="{{ absolute_url( asset('plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url( asset('plugins/icheck-bootstrap/icheck-bootstrap.min.css')) }}">
{% endblock %}

{% block body_header %}
    <div class="col">
        <h1 class="m-0 text-dark">Création d'une action</h1>
    </div>
    <div class="col">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        </ol>
    </div>
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    <div class="row justify-content-center">
        <div class="{{ col_primary }} ">
            <div class="card car-info">

                <div class="card-body">
                    <div class="form-group row">
                        <label for="cmb_axe" class="col-sm-3 col-form-label">
                            Plan d'actions
                        </label>
                        <div class="col">
                            <select name="cmb_axe" id="cmb_axe" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cmb_pole" class="col-sm-3 col-form-label">
                            Pôle
                        </label>
                        <div class="col">
                            <select name="cmb_pole" id="cmb_pole" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cmb_thematique" class="col-sm-3 col-form-label">
                            Thématique
                        </label>
                        <div class="col">
                            <select name="cmb_thematique" id="cmb_thematique" class="form-control ">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cmb_category" class="col-sm-3 col-form-label">
                            Catégorie
                        </label>
                        <div class="col">
                            <select name="cmb_category" id="cmb_category" class="form-control ">
                            </select>
                        </div>
                    </div>
                    <div class="d-none">
                            {{ form_widget(form.category) }}
                    </div>
                    <div class="form-group row">
                        {{ form_label(form.ref,'', { 'label_attr': {'class':'col-sm-3 col-form-label' }}) }}
                        <div class="col">
                            {{ form_errors(form.ref) }}
                            {{ form_widget(form.ref) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form_label(form.name,'', { 'label_attr': {'class':'col-sm-3 col-form-label' }}) }}
                        <div class="col">
                            {{ form_errors(form.name) }}
                            {{ form_widget(form.name) }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-12" for="{{ form.content.vars.id }}">
                            Informations complémentaires
                        </label>
                        <div class="col-12">
                            {{ form_widget(form.content) }}
                        </div>
                    </div>


                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col  d-flex justify-content-between align-items-center">

                            {{ include('share/__btn_return_list.html.twig',
                                {   'url':'action_index'

                                }) }}

                            {{ include('share/__btn_save.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="{{ col_secondary }}  "  id="actions">

        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <!-- Select2 -->
    <script src="{{ absolute_url( asset('plugins/select2/js/select2.full.min.js')) }}"></script>
    <script src="{{ absolute_url( asset('js/fillCombobox/fillCombobox.js')) }}"></script>
    <script src="{{ absolute_url( asset('js/findAction.js')) }}"></script>
    <script type="text/javascript">
        $(function () {
            fillCombobox('#cmb_axe', "{{ path('ajax_fill_combobox_axes') }}", true);

            $('#cmb_axe').change(function () {
                fillComboboxChained('#cmb_axe', '#cmb_pole', "{{ path('ajax_fill_combobox_poles') }}", true, false);
            });

            $('#cmb_pole').change(function () {
                fillComboboxChained('#cmb_pole', '#cmb_thematique', "{{ path('ajax_fill_combobox_thematiques') }}", true, true);
            });


            $('#cmb_thematique').change(function () {
                fillComboboxChained('#cmb_thematique', '#cmb_category', "{{ path('ajax_fill_combobox_categories') }}", true,true);
            });

            $('#cmb_category').change(function () {
                $('#action_create_category').val($('#cmb_category').val());
                showListe('#cmb_category','{{ path('ajax_get_actions_for_category') }}','#actions');
            });
        })
    </script>
{% endblock %}
