{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Détail d'une action{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body_header %}
    <div class="col">
        <h2 class="m-0 text-dark">Action </h2>
    </div>
    <div class="col">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Page d'accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('action_index') }}">Liste</a></li>
            <li class="breadcrumb-item active">Action {{ action.id }}</li>
        </ol>
    </div>


{% endblock %}

{% block sidebar_sommaire %}
    <li class="nav-item ">
        <a class="nav-link" href="#anchor_name">
            <i class="fa fa-bolt"></i> Info. générales
        </a>
    </li>

    <li class="nav-item ">
        <a class="nav-link" href="#anchor_classement">
            <i class="fa fa-stream"></i> Classement
        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="#anchor_measure">
            <i class="fa fa-balance-scale"></i> Mesure d'efficacité
        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="#anchor_cadrage">
            <i class="fas fa-crop-alt"></i> Cadrage
        </a>
    </li>
    {% if action.content %}
        <li class="nav-item ">
            <a class="nav-link" href="#anchor_info_part">
                <i class="fas fa-info-circle"></i> Info. complémentaires
            </a>
        </li>
    {% endif %}
    <li class="nav-item ">
        <a class="nav-link" href="#anchor_organisme">
            <i class="fas fa-city"></i> Organismes
        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="#anchor_indicateur">
            <i class="fas fa-chart-line"></i> Indicateurs
        </a>
        <ul>
            {% for indicator in action.indicators %}
                {% if indicator.enable %}
                    <li><small><a
                                    href="#anchor_indicateur_{{ indicator.id }}">{{ indicator.name }}</a></small>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
{% endblock %}
{% block sidebar_button %}

    {% if action | actionCanUpdate %}
        {{ include('share/__btn_edit.html.twig',
            {   'url':'action_edit',
                'id':action.id,
                'titre':''
            }) }}
    {% endif %}
    <span class="mb-3"></span>
    <a href="{{ path('workflow_action_history',{'id': action.id }) }}" class="btn btn-link bg-yellow">
        <i class="fa fa-history"></i> Historique des états
    </a>
    <span class="mb-3"></span>
    <div class="btn-group show">
        <button type="button" onclick="gotoComposer();" class="btn btn-primary">
            <i class="far fa-envelope"></i> Message
        </button>
        <button type="button" onclick="gotoHistory();" class="btn bg-yellow">
            <i class="fa fa-history"></i>
        </button>
    </div>
    <script>
        function gotoComposer()
        {
            window.location='{{ path('mailer_action_composer',{'id': action.id }) }}';
        }
        function gotoHistory()
        {
            window.location='{{ path('mailer_action_history',{'id': action.id }) }}';
        }
    </script>


{% endblock %}

{% block body %}

    <div class="row justify-content-start pb-5">
        {{ include('action/_show/_name.html.twig') }}
        <div class="row col-12">
            <div id="col1"
                 class="col-sm-12  order-sm-second  col-md-12 order-sm-second col-lg-6 order-lg-second col-xl-2 order-xl-first">

                {{ include('action/_show/_tuile.html.twig') }}
                {{ include('action/_show/_date.html.twig') }}
            </div>
            <div id="col2"
                 class="col-sm-12  order-sm-first  col-md-12 order-md-first col-lg-12  order-lg-first col-xl-7 order-xl-second  bg-white  p-5">
                {{ include('action/_show/_classement.html.twig') }}
                {{ include('action/_show/_measure.html.twig') }}
                {{ include('action/_show/_cadrage.html.twig') }}
                {{ include('action/_show/_info_part.html.twig') }}
            </div>
            <div id="col3" class="col-sm-12 col-md-12 col-lg-6 col-xl-3">
                {{ include('action/_show/_cibles.html.twig') }}
                {{ include('action/_show/_vecteurs.html.twig') }}
                {{ include('action/_show/_intervenant.html.twig') }}
                {{ include('action/_show/_actionFile.html.twig') }}
            </div>
        </div>
        <div class="col-12 bg-white  p-5 mt-5">
            {{ include('action/_show/_organisme.html.twig') }}
        </div>
        <div class="col-12 bg-white  p-5 mt-5">
            {{ include('action/_show/_indicator.html.twig') }}
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    <script src="{{ absolute_url( asset('js/add_sidebar.js')) }}"></script>

    <script type="text/javascript">
        $(function () {

            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
