{% if deployement.deployementFiles.count != 0 or deployement.deployementLinks.count != 0 %}

<article id="file" class="bg-white">
    <h5 class="text-purple p-1 pt-3 text-center ">
        documents joints du déploiement
    </h5>
    <div class="card-body">

        <ul  class="list-group list-group-flush">


            {% for deployementFile in deployement.deployementFiles %}
                <li  class="list-group-item">
                    <a target="_blank" href="{{ path('deployement_file_show',{'id':deployement.id, 'fileId':deployementFile.id}) }}" >
                        {{ include('file/_icone_extension.html.twig',{'extension': deployementFile.fileExtension})}}
                        {{ deployementFile.title  }}.{{ deployementFile.fileExtension  }}
                    </a>
                </li>
            {% endfor %}
            {% for deployementLink in deployement.deployementLinks %}
                <li  class="list-group-item">
                    <a target="_blank" href="{{ deployementLink.link }}" >
                        <i class="fas fa-globe mr-2"></i>
                         {{ deployementLink.title  }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</article>
{% endif %}