{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Indicateur{% endblock %}

{% block stylesheets %}
    <!-- Select2 -->
    <link rel="stylesheet" href="{{ absolute_url( asset('plugins/select2/css/select2.min.css')) }}">
    <link rel="stylesheet"
          href="{{ absolute_url( asset('plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css')) }}">

    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="{{ absolute_url( asset('plugins/icheck-bootstrap/icheck-bootstrap.min.css')) }}">
{% endblock %}

{% block body_header %}
    <div class="col">
        <h1 class="m-0 text-dark">Indicateurs de l'action {{ indicator.action.id }}</h1>
    </div>
    <div class="col">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
            <li class="breadcrumb-item "><a href="{{ path('action_edit',{'id':indicator.action.id}) }}#anchor_indicateur">Action</a></li>
            <li class="breadcrumb-item active">Modification</li>
        </ol>
    </div>
{% endblock %}


{% block body %}

    {{ form_start(form) }}
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-12 col-lg-8  ">
            <div class="card ">

                {{ include('indicator/_form.html.twig') }}
                <div class="card-footer">
                    <div class="row">
                        <div class="col  d-flex justify-content-between align-items-center">

                            <a class="btn btn-secondary " href="{{ path('action_edit', {'id': indicator.action.id}) }}#anchor_indicateur">
                                <i class="fas fa-step-backward"></i> Retour à l'action
                            </a>

                            {{ include('share/__btn_save.html.twig') }}

                            {% if is_granted('ROLE_GESTIONNAIRE') %}
                                <span class="btn btn-danger " onclick="$('#delete').click();">
                                 <i class="fas fa-trash"></i> Supprimer
                            </span>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 ">
            <div class="card" >
                <div class="card-footer">
                    Déploiement de l'indicateur
                </div>
                <div class="card-body">
                    {% for deployement in indicator.action.deployements %}
                        {{ include('deployement/_edit/_indicator_deployement.html.twig',{'indicator':indicator, 'deployement':deployement}) }}
                    {% else %}
                        <div class="list-group-item">En attente d'ajout d'organisme</div>
                    {% endfor %}
                </div>
                <div class="card-footer text-center p-5">
                    <a class="btn btn-info "
                       href="{{ path('deployements_for_action', {'id': indicator.action.id}) }}">
                        <i class="fas fa-warehouse"></i> Sélection des organismes
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}

    <div class="d-none">
        {{ include('share/_delete_form.html.twig',{'domaine': 'indicator','id':indicator.id}) }}
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ absolute_url( asset('js/indicator/indicatorUpdate.js')) }}"></script>
    <script type="text/javascript">
        $(function () {
            changeTemplate();
            $('#indicator_indicatortype').change(function () {
                changeTemplate();
            });
        });
    </script>

    <script src="{{ absolute_url( asset('js/indicatorvalue.js')) }}"></script>
    <script type="text/javascript">
        $(function () {
            $('.indicatorvalue').click(function () {
                var selecteur=$(this).attr("id");
                var route="{{ path('ajax_create_deployement') }}";

                create_deployement(selecteur,route);
            });
        });
    </script>
{% endblock %}