<tr>
    <td class="align-middle">
        {{ indicatorValue.deployement.organisme.fullname }}

    </td>
    <td class="text-center align-middle col-2 ">
        {{ include('indicatorvalue/_show/_tr_' ~ indicatorValue.indicator.indicatortype ~ '.html.twig') }}
        {{ include('share/_taux_progress_bar_label.html.twig' , {'taux1': indicatorValue.taux1,'taux2': indicatorValue.taux2} ) }}
    </td>
    <td class="align-middle text-justify">
        <small>
            {{ indicatorValue.content | raw }}
        </small>
    </td>


    <td class="text-right align-middle ">
            {{ include('share/__btn_append.html.twig',
                {   'url':'deployement_append_edit',
                    'id':indicatorValue.deployement.id,
                    'sm':true,
                    'anchor':'#scrollspy_indicateur_' ~ indicatorValue.id
                }) }}
    </td>
</tr>