<table id="tableAdministration" class="table table-striped table-condensed "
       style="width:100%">
    <thead>
    <tr>
        <th class="all text-center">Référence</th>
        <th class="desktop">Plan d'actions</th>
        <th class="all">Action</th>
        <th class="desktop text-center"></th>

        <th class="all text-center"></th>
    </tr>
    </thead>
    <tbody>
    {% for action in actions %}
        <tr>
            <td class=" text-lg-center col-1 align-middle">
                {{ action.category.thematique.ref }}-{{ action.category.ref }}
                -{{ action.ref }}
                <br/>
                <small class="text-muted">{{ action.id }}</small>
            </td>
            <td class="text-xs align-middle">
                {{ action.category.thematique.pole.axe.name }}
                <br/>
                {{ action.category.thematique.pole.name }}
                <br/>
                {{ action.category.thematique.fullname }}
                <br/>
                {{ action.category.fullname }}
            </td>
            <td class="align-middle">{{ action.fullname }}</td>


            <td class="text-center align-middle">
                {{ include('share/_taux_progress_bar_label.html.twig', {'taux1': action.taux1, 'taux2': action.taux2  }) }}
            </td>

            <td class="d-flex flex-column bd-highlight">

                {% if action | actionCanRead %}
                    {{ include('share/__btn_show.html.twig',
                        {   'url':'action_show',
                            'id':action.id,
                            'sm':true
                        }) }}
                {% endif %}

                {% if is_granted('ROLE_GESTIONNAIRE') %}
                    <span class="mb-2"></span>
                    {{ include('share/__btn_edit.html.twig',
                        {   'url':'action_edit',
                            'id':action.id,
                            'sm':true
                        }) }}
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">Aucun d'enregistrement</td>
        </tr>
    {% endfor %}
    </tbody>
</table>