<table id="tableAdministration" class="table table-striped projects"
       style="width:100%">
    <thead>
    <tr>
        <th class="all text-center">Référence</th>
        <th class="desktop">Plan d'actions</th>
        <th class="all">Action</th>
        <th class="all text-center align-middle">Fin de déploiement</th>
        <th class="all text-center align-middle">Jalon</th>
        <th class="all text-center">Etat</th>
        <th class="desktop"></th>
        <th class="all" style="width: 20%"></th>
    </tr>
    </thead>
    <tbody>
    {% for action in actions %}
        {% set read= action | actionCanRead %}
        <tr>
            <td class=" text-lg-center align-middle">
                {% if read %}
                    <a href="{{ path('action_show',{'id':action.id}) }}">
                        {{ action.category.thematique.ref }}-{{ action.category.ref }}-{{ action.ref }}
                        <br/>
                        <small class="text-muted">{{ action.id }}</small>
                    </a>
                {% else %}
                    {{ action.category.thematique.ref }}-{{ action.category.ref }}-{{ action.ref }}
                    <br/>
                    <small class="text-muted">{{ action.id }}</small>
                {% endif %}
            </td>
            <td class="text-xs align-middle">
                {{ action.category.thematique.pole.axe.name }}
                <br/>
                {{ action.category.thematique.pole.name }}
                <br/>
                {{ action.category.thematique.fullname }}
                <br/>
                {{ action.category.fullname }}
            </td>
            <td class="align-middle">
                {% if read %}
                    <a href="{{ path('action_show',{'id':action.id}) }}">
                        {{ action.name }}
                    </a>
                {% else %}
                    {{ action.name }}
                {% endif %}
            </td>
            <td class="text-center  align-middle">
                {% if action.state=='deployed' %}
                    {{ include('action/_view/_regionendat.html.twig',{'regionendat':action.regionendat}) }}
                {% endif %}
            </td>
            <td class="text-center  align-middle">
                {{ include('action/_view/_jalon.html.twig') }}
            </td>
            <td class="text-center align-middle">
                {{ include('workflow/_state.html.twig' , {'state': action.state} ) }}
            </td>

            <td class="text-center align-middle">
                {% if action.state not in ['rejected','abandonned'] %}
                {{ include('share/_taux_progress_bar_label.html.twig', {'taux1': action.taux1, 'taux2': action.taux2  }) }}
                {% endif %}
            </td>

            <td class="project-actions text-right">

                {% if read %}
                    {{ include('share/__btn_show.html.twig',
                        {   'url':'action_show',
                            'id':action.id,
                            'sm':true
                        }) }}
                {% endif %}

                {% if action | actionCanUpdate %}
                    <span class="mb-2"></span>
                    {{ include('share/__btn_edit.html.twig',
                        {   'url':'action_edit',
                            'id':action.id,
                            'sm':true
                        }) }}
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="8">Aucun d'enregistrement</td>
        </tr>
    {% endfor %}
    </tbody>
</table>