    <div class="info-box  bg-gray-light">
        <span class="info-box-icon bg-info elevation-1">
            <i class="fas fa-bolt"></i>
        </span>

        <div class="info-box-content">
            <span >
                {% if action | actionCanRead %}
                    <a href="{{ path('action_show', {'id': action.id}) }}">
                        {{ action.name }}
                    </a>
                {% else %}
                    {{ action.name }}
                {% endif %}
            </span>
            <span class="info-box-number">
                {{ action.category.thematique.ref }}-{{ action.category.ref }}
                -{{ action.ref }}

            </span>
            <small>
                {{ action.category.thematique.pole.axe.name }}
                {%  if action.category.enable ==false or
                    action.category.thematique.enable ==false or
                    action.category.thematique.pole.enable ==false or
                    action.category.thematique.pole.axe.enable ==false  %}
                    <span class="badge badge-danger text-sm float-right">L'action n'est pas visible</span>
                {% endif %}
                {%  if action.category.thematique.pole.axe.archiving ==true  %}
                    <span class="badge badge-danger text-sm float-right">L'action est archivée</span>
                {% endif %}
            </small>
        </div>
    </div>





