<!--
/* VERSION 1.0.0 */
/* EMMANUEL SAUVAGE */
-->
{% if messages|length > 0 %}
    <div class="card">
        <div class="card-body">
            <div class="direct-chat-messages">
                {% for message in messages %}
                {% if message and message.content and message.enable %}
                <div class="direct-chat-msg showOver"  id="message_{{ message.id }}">
                    <div class="direct-chat-infos clearfix">
                        <span class="direct-chat-name float-left">{{ message.user.name }}</span>

                        <span class="direct-chat-timestamp float-right">{{ message.modifyat | date('d/m/Y H:i:s') }}</span>

                        {% if is_granted('ROLE_GESTIONNAIRE') %}
                            <div class=" float-right text-xs hide mr-5" id="message_{{ message.id }}_span">
                                <a href="{{ path('message_edit',{id:message.id}) }}" class="text-indigo">
                                    <i class="fa fa-cog"></i> modifier
                                </a>
                            </div>
                        {% endif %}


                    </div>
                    <img class="direct-chat-img" src="{{ message.user.avatar.image }}" alt="message user image">
                    <div class="direct-chat-text">
                        {{ message.content | raw }}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}