{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Organisme {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url( asset('plugins/datatables-bs4/css/dataTables.bootstrap4.css')) }}">
{% endblock %}

{% block body_header %}

{% endblock %}

{% block body %}

    <!-- MESSAGE -->
    {{ include('message/_show_messages.html.twig',{'messages':messages}) }}
    <h5>Cycle de vie des actions</h5>


    <div class="p-5"
         style="background-image: url('{{ absolute_url( asset('img/fond.png')) }}'); background-repeat: no-repeat;width: 950px   ">
        <div class="row">


            <!-- 0 started -->
            {{ include('dashboard/_dashboard_state.html.twig',{
                'state':'started',
                'url':'actions_by_state'
            }) }}
        </div>
        <div class="row">
            <!-- 1 cotech -->
            {{ include('dashboard/_dashboard_state.html.twig',{
                'state':'cotech',
                'url':'actions_by_state'
            }) }}

            {{ include('dashboard/_dashboard_state.html.twig',{
                'state':'rejected',
                'url':'actions_by_state'
            }) }}

            {{ include('dashboard/_dashboard_state.html.twig',{
                'state':'abandonned',
                'url':'actions_by_state'
            }) }}
        </div>
        <div class="row">
            <!-- 1 codir -->
            {{ include('dashboard/_dashboard_state.html.twig',{
                'state':'codir',
                'url':'actions_by_state'
            }) }}
        </div>
        <div class="row">
            <!-- 3 toDeploy -->
            {{ include('dashboard/_dashboard_state.html.twig',{
                'state':'finalised',
                'url':'actions_by_state'
            }) }}
        </div>
        <div class="row">
            <!-- 4 deployed -->
            {{ include('dashboard/_dashboard_state.html.twig',{
                'state':'deployed',
                'url':'actions_by_state'
            }) }}
        </div>
        <div class="row">
            <!-- 5 toMeasure -->
            {{ include('dashboard/_dashboard_state.html.twig',{
                'state':'measured',
                'url':'actions_by_state'
            }) }}
        </div>
        <div class="row">
            <!-- 6 closed -->
            {{ include('dashboard/_dashboard_state.html.twig',{
                'state':'clotured',
                'url':'actions_by_state'
            }) }}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ absolute_url( asset('js/dashboard_action.js')) }}"></script>
    <script type="text/javascript">
        $(function () {

            searchCount('started', '{{ path('ajax_actions_by_state') }}');
            searchCount('abandonned', '{{ path('ajax_actions_by_state') }}');
            searchCount('rejected', '{{ path('ajax_actions_by_state') }}');
            searchCount('cotech', '{{ path('ajax_actions_by_state') }}');
            searchCount('codir', '{{ path('ajax_actions_by_state') }}');
            searchCount('finalised', '{{ path('ajax_actions_by_state') }}');
            searchCount('deployed', '{{ path('ajax_actions_by_state') }}');
            searchCount('measured', '{{ path('ajax_actions_by_state') }}');
            searchCount('clotured', '{{ path('ajax_actions_by_state') }}');
        });
    </script>
{% endblock %}