<a href="{{ path(url) }}/{{ filtre }}"
   class="text-gray"
   id="{{ domaine }}">
        <small> {{ titre | raw }}</small>

        <span id="badge_{{ domaine }}" class="badge badge-light text-gray ">
                <i id="overlay_{{ domaine }}" class=" d-none fas  fa-sync-alt"></i>
        </span>
</a>