<a href="{{ path(url) }}/{{ filtre }}"
   class="list-group-item list-group-item-action"
   id="{{ domaine }}">
    <div class="d-flex justify-content-between align-items-center">
        <h6 class="mb-1">{{ titre | raw }}</h6>

        <span id="badge_{{ domaine }}" class="badge badge-light text-lg text-primary ">
                <i id="overlay_{{ domaine }}" class=" d-none fas  fa-sync-alt"></i>
        </span>

    </div>

</a>